# Count Character Duration

In [14]:
import sys
sys.path.append('..')

In [15]:
import pandas as pd

In [16]:
consonants = "../datasets/csv/consonants.csv"
independent_vowels = "../datasets/csv/independent_vowels.csv"
sub_vowels = "../datasets/csv/sub_vowels.csv"
vowels = "../datasets/csv/vowels.csv"

In [17]:
vowels = "../datasets/csv/vowels.csv"

In [18]:
full_consonants_df = pd.read_csv(consonants)

consonants_df = full_consonants_df[full_consonants_df['type'] == 'consonant']
stack_consonants_df = full_consonants_df[full_consonants_df['type']
                                         == 'stack_consonant']

independent_vowels_df = pd.read_csv(independent_vowels)
sub_vowels_df = pd.read_csv(sub_vowels)
vowels_df = pd.read_csv(vowels)

dfs = [
    consonants_df,
    stack_consonants_df,
    independent_vowels_df,
    sub_vowels_df,
    vowels_df,
]

In [19]:
stack_consonants_df.sample(5)

,start_at,end_at,start_sec,end_sec,char,latin_char,type,video_name
64,00:01:01,00:01:03,61.0,63.0,្អ,stack_or,stack_consonant,PXL_20221005_090611869.mp4
254,00:00:39,00:00:43,39.0,43.0,្ស,stack_sa,stack_consonant,PXL_20221005_091137699.mp4
445,00:00:24,00:00:25,24.0,25.0,្ល,stack_lo,stack_consonant,PXL_20221012_090956977.mp4
291,00:00:02,00:00:05,2.0,5.0,្ត,stack_ta,stack_consonant,PXL_20221005_082316310.mp4
41,00:00:02,00:00:04,2.0,4.0,្ប,stack_ba,stack_consonant,PXL_20221005_084351190.mp4

In [20]:
independent_vowels_df.sample(5)

,start_at,end_at,start_sec,end_sec,char,latin_char,type,video_name
38,00:01:42,00:01:43,102,103,ឳ,au,independent_vowel,PXL_20221005_065137785.mp4
18,00:00:55,00:00:57,55,57,ឫ,rue,independent_vowel,PXL_20221005_064851272.mp4
36,00:01:29,00:01:31,89,91,ឰ,ai,independent_vowel,PXL_20221005_065137785.mp4
42,00:00:18,00:00:32,18,32,ឩ,ou,independent_vowel,PXL_20221005_063616958.mp4
12,00:01:55,00:01:57,115,117,ឳ,au,independent_vowel,PXL_20221005_064056229.mp4

In [21]:
sub_vowels_df.sample(5)

,start_at,end_at,start_sec,end_sec,char,latin_char,type,video_name
20,00:00:44,00:00:45,44,45,៚,koumutr,sub_vowel,PXL_20221005_061243962.mp4
40,00:01:39,00:01:41,99,101,?,sanha_sur,sub_vowel,PXL_20221005_060957166.mp4
96,00:00:52,00:00:54,52,54,?,sanha_sur,sub_vowel,PXL_20221012_074532369.mp4
105,00:00:57,00:01:00,57,60,៖,chamnoch_pirkus,sub_vowel,PXL_20221012_074755140.mp4
77,00:00:50,00:00:53,50,53,៖,chamnoch_pirkus,sub_vowel,PXL_20221005_061501760.mp4

In [22]:
vowels_df.sample(5)

,start_at,end_at,start_sec,end_sec,char,latin_char,type,video_name
164,00:00:14,00:00:17,14,17,ឹ,srak_oe,vowel,PXL_20221012_073453141.mp4
8,00:00:43,00:00:44,43,44,ើ,srak_aeu,vowel,PXL_20221005_051147777.mp4
154,00:01:26,00:01:29,86,89,ុំ,srak_um,vowel,PXL_20221012_073156470.mp4
130,00:01:17,00:01:18,77,78,ៅ,srak_au,vowel,PXL_20221005_050243833.mp4
175,00:01:00,00:01:03,60,63,ោ,srak_ao,vowel,PXL_20221012_073453141.mp4

## Character Video Count

In [58]:
# from varname import nameof

def count_video(df: pd.DataFrame):
    return df['video_name'].unique().size


for i, df in enumerate(dfs):
    print("{}: {}".format(df['type'].unique(), count_video(df)))

['consonant']: 49
['stack_consonant']: 49
['independent_vowel']: 8
['sub_vowel']: 8
['vowel']: 8

## Character Duration

In [59]:
def add_duration(df: pd.DataFrame):
    df['duration'] = df.apply(lambda row: row.end_sec - row.start_sec, axis=1)


for df in dfs:
    add_duration(df)

/var/folders/g8/wgj905m158gbcnzm6q5v9y2r0000gn/T/ipykernel_9238/2458337709.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['duration'] = df.apply(lambda row: row.end_sec - row.start_sec, axis=1)
/var/folders/g8/wgj905m158gbcnzm6q5v9y2r0000gn/T/ipykernel_9238/2458337709.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['duration'] = df.apply(lambda row: row.end_sec - row.start_sec, axis=1)

In [60]:
c = consonants_df['duration'].sum()
c, c / 60

(697.0, 11.616666666666667)

In [61]:
sc = stack_consonants_df['duration'].sum()
sc, sc / 60

(700.0, 11.666666666666666)

In [62]:
iv = independent_vowels_df['duration'].sum()
iv, iv / 60

(298, 4.966666666666667)

In [63]:
sv = sub_vowels_df['duration'].sum()
sv, sv / 60

(218, 3.6333333333333333)

In [64]:
v = vowels_df['duration'].sum()
v, v / 60

(442, 7.366666666666666)

In [65]:
c + sc + iv + sv + v, c/60 + sc / 60 + iv/60 + sv/60 + v/60

(2355.0, 39.25)