#### This notebook is use to do the data preparation.

In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split

In [4]:
image_path = '../datasets/input/cropedandrotated/csv/data.csv'

In [5]:
df = pd.read_csv(image_path)

In [6]:
df.head(10)

       filename  label
0      1-ba.jpg      0
1  1-ba_-10.jpg      0
2  1-ba_-15.jpg      0
3  1-ba_-20.jpg      0
4  1-ba_-25.jpg      0
5   1-ba_-5.jpg      0
6   1-ba_10.jpg      0
7   1-ba_15.jpg      0
8   1-ba_20.jpg      0
9   1-ba_25.jpg      0

In [7]:
msk = np.random.rand(len(df)) < 0.8

In [8]:
train = df[msk]

In [9]:
test = df[~msk]

In [10]:
len(train), len(test), len(df)

(23249, 5791, 29040)

In [11]:
train, test = train.reindex(), test.reindex()

In [12]:
train

           filename  label
0          1-ba.jpg      0
1      1-ba_-10.jpg      0
2      1-ba_-15.jpg      0
4      1-ba_-25.jpg      0
5       1-ba_-5.jpg      0
...             ...    ...
29034  99-yo_-5.jpg     32
29035  99-yo_10.jpg     32
29036  99-yo_15.jpg     32
29037  99-yo_20.jpg     32
29039   99-yo_5.jpg     32

[23249 rows x 2 columns]

In [13]:
test

             filename  label
3        1-ba_-20.jpg      0
16       1-cha_-5.jpg      1
23     1-chha_-10.jpg      2
29      1-chha_15.jpg      2
37     1-chho_-25.jpg      3
...               ...    ...
29017     99-to_5.jpg     30
29019   99-vo_-10.jpg     31
29026    99-vo_20.jpg     31
29033   99-yo_-25.jpg     32
29038    99-yo_25.jpg     32

[5791 rows x 2 columns]

In [14]:
len(train), len(test), len(df)

(23249, 5791, 29040)

In [15]:
test['label'].unique(), len(test['label'].unique())

(array([ 0,  1,  2,  3,  4,  5,  6,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
        19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 31, 32,  7,  8, 23, 30],
       dtype=int64),
 33)

In [16]:
train['label'].unique(), len(train['label'].unique())

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
       dtype=int64),
 33)

In [17]:
train

           filename  label
0          1-ba.jpg      0
1      1-ba_-10.jpg      0
2      1-ba_-15.jpg      0
4      1-ba_-25.jpg      0
5       1-ba_-5.jpg      0
...             ...    ...
29034  99-yo_-5.jpg     32
29035  99-yo_10.jpg     32
29036  99-yo_15.jpg     32
29037  99-yo_20.jpg     32
29039   99-yo_5.jpg     32

[23249 rows x 2 columns]

In [18]:
test

             filename  label
3        1-ba_-20.jpg      0
16       1-cha_-5.jpg      1
23     1-chha_-10.jpg      2
29      1-chha_15.jpg      2
37     1-chho_-25.jpg      3
...               ...    ...
29017     99-to_5.jpg     30
29019   99-vo_-10.jpg     31
29026    99-vo_20.jpg     31
29033   99-yo_-25.jpg     32
29038    99-yo_25.jpg     32

[5791 rows x 2 columns]

In [19]:
test.to_csv('test.csv',index=False)

In [20]:
train.to_csv('train.csv',index=False)